
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
    font-family: 'Poppins',sans-serif;

}
.main {
  background-image: url(assets/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
  font-family: 'Martel Sans', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
}


/* body{
    margin: 0;
    padding: 0;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    padding: 1rem;

}
.logo{
    color: white;
    font-size: 1.5rem;
}
.menu{
    display: none;
    flex-direction: column;
    background:#444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color:white;
    cursor: pointer;
}
/* Tablets Desktop
@media(min-width:768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background:none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
} */